@mixin img-sprite-fit {
  object-fit: contain;
}

.sprite-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    height: initial;
    width: initial;
  }
}

//frame 01
#van {
  @include img-sprite-fit;
  object-position: right;
}

//frame 02
#f2-wheel1 {}


.vbt-ph {
  position: absolute;
  z-index: 20;
  right: 50%;
  top: 38%;
  left: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 73px;
  transform: translate(0, -50%);
  transition: opacity 0.3s ease;
  h2 {
    font-family: cinzel_bold;
    margin-bottom: 20px;
    font-size: 63px;
  }
  #vp_play {
    width: 300px;
    display: block;
    position: relative;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    img {
      width: 100%;
    }
    &:hover {
      scale: 0.98;
    }
  }
}


//frame 06

.coaster-guide {
  position: absolute;
  z-index: 20;
  background: linear-gradient(0deg, #0000003d, transparent);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  &__start-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: cinzel_bold;
    font-size: 28px;
    animation: pulse 1.2s infinite;
    p {
      color: #00000082;
      font-size: 12px;
      text-align: center;
    }
  }
  &__sec {
    padding: 75px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 218px;
    margin-bottom: 96px;
    opacity: 1;
    transition: all 0.6s ease;
    transform: translate(0, 0);
    text-align: center;
    h2 {
      font-family: cinzel_bold;
      color: #3E374D;
    }
    p {
      font-family: flanker;
    }
  }
  &__sec.d-none {
    position: absolute;
  }
}
@keyframes pulse {
  /* flame pulses */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


.d-none {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.coaster-guide__sec.d-none {
  transform: translate(0, 50vw);
}

.coaster-guide__sec {
  background-image: url('../images/frame-06/arkadia-paper.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.video_progress {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 400px;
  background: #ffffff6e;
  bottom: 30px;
  left: 40px;
  // left: 50%;
  // transform: translate(-50%, 0);
  border-radius: 50px;
  #vp_bar {
    background: #422b4c;
    display: block;
    height: 3px;
    max-width: 100%;
    border-radius: 50px;
    transition: width 0.3s ease;
  }
}

#f7_Untitled_Artwork_4 {
  opacity: 1;
  transition: opacity 5s ease;
}

.f7-ritual-started {
  opacity: 0 !important;
}

.sf-img-07-initial {
  opacity: 1;
  transition: 5s ease;
}

.sm-07-started {
  opacity: 0;
}