@mixin img-sprite-fit {
  object-fit: contain;
}

.sprite-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    height: initial;
    width: initial;
  }
}

//frame 01
#van {
  @include img-sprite-fit;
  object-position: right;
}

//frame 02
#f2-wheel1 {}


.vbt-ph {
  position: absolute;
  z-index: 20;
  left: 50%;
  right: 50%;
  top: 50%;
  display: flex;
}


//frame 06

.coaster-guide {
  position: absolute;
  z-index: 20;
  background: #3b3b3b4d;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;

  align-items: end;
  justify-content: center;
  transition: all 0.3s ease;

  &__sec {
    background: #fff;
    padding: 40px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 218px;
    margin-bottom: 96px;
    opacity: 1;
    transition: all 0.6s ease;
    transform: translate(0, 0);
    text-align: center;
    h2 {
      font-family: cinzel_bold;
    }
    p {
      font-family: flanker;
    }
  }

}



.d-none {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.coaster-guide__sec.d-none {
  transform: translate(0, 50vw);
}

.video_progress {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 400px;
  background: #ffffff6e;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
  #vp_bar {
    background: #594163;
    display: block;
    height: 7px;
    max-width: 100%;
    border-radius: 50px;
    transition: width 0.3s ease;
  }
}