@import url(_responsive.scss);
@mixin absoluteFrame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin btn {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  aspect-ratio: 1/1;
  img {
    width: 100%;
  }
  &:hover {
    transform: rotate(90deg);
  }
}
@mixin btn-link-hover {
  transition: all 0.2s ease;
  &:hover {
    scale: 0.98;
  }
}

@font-face {
  font-family: cinzel_reguralr;
  src: url('../fonts/cinzel.regular.ttf');
}

@font-face {
  font-family: flanker;
  src: url('../fonts/Flanker-Griffo.otf');
}

@font-face {
  font-family: cinzel_bold;
  src: url('../fonts/cinzel.decorative-bold.ttf');
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  // background: #3e3e3e;
  height: 10500px;
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: rgb(229, 229, 229);

}

header {
  position: fixed;
  z-index: 999;
  padding: 26px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .join-links {
    display: flex;
    align-items: center;
    img {
      height: 50px;
      cursor: pointer;
    }
  }
}

.btn-menu {
  @include btn;
  width: 70px;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.btn-link {
  display: block;
  @include btn-link-hover;
}

.loading-view {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #00000096;
  transition: opacity 1s ease;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
    scale: 1.1;
  }
  p {
    color: #fff;
    z-index: 1;
    background: #00000042;
    padding: 30px;
    letter-spacing: 16px;
  }
}

.nav-menu {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 14px 30px 14px 50px;
  background: #3e374de3;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 360px;
  transform: translate(-100%, 0);
  transition: all 0.4s ease;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img {
      position: relative;
      top: 10px;
    }
    .btn-menu-close {
      @include btn;
      width: 65px;

    }
  }
  &__sec {
    margin: 24px 0;
    h4 {
      font-size: 24px;
      color: #FF7476;
      font-family: flanker;
    }
    ul {
      list-style: none;
      padding: 0;
      font-family: flanker;
      li {
        a {
          position: relative;
          color: #dbcfe7;
          text-decoration: none;
          padding: 8px 0;
          display: block;
          &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-image: url('../images/menu-item-hover.svg');
            position: absolute;
            transform: translate(-30px, 0);
            opacity: 0;
          }
          &::after {
            position: absolute;
            left: -50px;
            bottom: 2px;
            content: '';
            width: 0%;
            height: 100%;
            opacity: 0;
            background: linear-gradient(90deg, rgba(217, 217, 217, 0) -70.09%,
                rgba(255, 255, 255, 0.0816) -70.07%, rgba(255, 255, 255, 0.0816) 53.05%, rgba(255, 255, 255, 0) 100%);
            transition: 0.4s ease;

          }
          &:hover {
            color: #fff;
            &::before {
              opacity: 1;
            }

            &::after {
              opacity: 1;
              width: 100%;

            }

          }
        }
      }
    }
  }

  &__sub-title {
    font-size: 24px;
    color: #FF7476;
    font-family: flanker;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    a {
      color: #A994CB;
      font-size: 12px;
      font-family: flanker;
      text-decoration: none;
    }
  }
}

button {
  transition: filter 0.3s ease;

}

.nav-menu.slide-in {
  .menu-bg {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: #6e045f;
    background: linear-gradient(90deg, #6e045f 0%, rgba(208, 80, 80, 0) 100%);
    z-index: -1;
    top: 0;
    left: 360px;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
}


.slide-in {
  transform: translate(0, 0);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 26px 26px;
  z-index: 10;
  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 10px;
    li {
      img {
        height: 56px;
        cursor: pointer;
      }
    }
  }
}

section {
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: opacity 600ms linear;
  opacity: 1;
}

.anim-ease-sc {
  transition: all 1s ease;
}

.text-layer {
  h2 {
    font-family: cinzel_bold;
    font-size: 43px;
  }
  p {
    font-family: flanker;
  }
}

.text-layer-center {
  h2 {
    font-family: cinzel_bold;
  }
  p {
    font-family: flanker;
  }
}

.f7_text_content {
  position: absolute;
  width: 600px;
  height: 600px;
  right: 130px;
  top: 50%;
  transform: translate(0, -50%);
  .f7_bg_paper {
    // transform: scale(0.75) translate(157px, 14px);
    object-fit: cover;
    object-position: right;
    transform: scale(1.3);
  }
  .f7_paper_text {
    position: absolute;
    right: 25px;
    max-width: 335px;
    top: 40%;
    transform: translate(0, -50%);
    color: #3E374D;
    h2 {
      font-family: cinzel_bold;
      font-size: 3em;
    }
    p {
      font-family: flanker;
      font-size: 17px;
      line-height: 1.5;
      margin-top: 20px;
      font-weight: 400;
    }
  }

}

.f2-text-layer {
  background-image: url('../images/frame-01/');
}

.logo-ph {
  transform: translate(0, 310px) scale(0.8);
  opacity: 0;
  transition: all 2.5s;
  .logo-text {
    position: relative !important;
    max-width: 33%;
    margin: 0 auto;
    display: block;
  }
}


#frame-01 {
  z-index: 10;
}

#frame-02 {
  z-index: 9;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
}


#sc-val {
  position: fixed;
  z-index: 99999;
  bottom: 0;
}


.hide {
  opacity: 0;
  // filter: blur(15px);
  pointer-events: none;
}




.text-layer {
  position: absolute;
  z-index: 9000;
  max-width: 700px;
  top: 100px;
  left: 100px;

  h2 {
    font-weight: 500;
    font-size: 43px;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 400;
  }

}


.text-layer-center {
  position: absolute;
  z-index: 9000;
  max-width: 800px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 43px;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 400;
  }
}

.navigation {
  position: fixed;
  z-index: 9000;
  padding: 3px 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  // overflow: hidden;
  opacity: 0.7;
  .prg-bar {
    display: none;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 5px;
    width: 4px;
    border-radius: 20px;
    transform: translate(50%, 0);
    &::after {
      // content: '';
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: rgb(232, 55, 167);
      position: absolute;
      bottom: 0;
      right: 8px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    padding: 0;
    height: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    li {
      position: relative;
      a {
        list-style: none;
        text-decoration: none;
        padding: 10px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // border: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        // transform: rotate(45deg);
        p {
          z-index: 0;
          position: absolute;
          top: -8px;
          right: -30px;
          width: 0px;
          opacity: 0;
          text-align: right;
          cursor: pointer;
          transition: all 0.3s ease-out;
          white-space: nowrap;
          overflow: hidden;
          color: #000;
          font-family: flanker;
          font-size: 18px;
          background: #fff;
          background: linear-gradient(270deg, #d9d9d900 0%, #ffffff96 1%, #ffffff8c 72.4%, #ffffff00 100%);
          padding: 10px 70px 10px 0;

        }
        span {
          background: #1d212b;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          &::after {
            position: absolute;
            content: '';
            width: 18px;
            height: 18px;
            border: 2px solid #fff;
            transform: translate(-6px, -6px);
            opacity: 0.3;
            transition: opacity 0.3s ease;
          }
          &:hover {

            &::after {
              opacity: 1;
            }
          }
        }

      }
      .li-ph {
        position: absolute;
        height: 40px;
        width: 100%;
        // background: #cff;
        transform: translate(50%, 75%);
        left: -50%;
        span {
          position: absolute;
          display: block;
          top: 0;
          width: 2px;
          left: 50%;
          background: #ffffff;
          transform: translate(-50%, 0);
        }
      }
      &:hover p {
        width: 250px !important;
        opacity: 1;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    right: 50%;
    transform: translate(1px, 0);
    border-left: 1px dashed;
    border-color: #ffffff7a;
    opacity: 0;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    filter: blur(36px);
    opacity: 0.5;
  }


}

.sec-nav {
  opacity: 0;
  background: #6767674a;
  position: absolute;
  z-index: 100;
  color: #fff;
  padding: 0 5px;
  >div {
    border-bottom: 1px solid;
    height: 100vh;
    border-bottom: 1px solid #fff;
    .nav-f {
      border-bottom: 1px solid;
      height: 100vh;
    }
  }
}

//Animations

//frame 01
.f1_spaceShip {
  @include absoluteFrame;
  animation: shipHover 2s infinite alternate forwards;
  left: -110px;
}

@keyframes shipHover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.f1_twoSpaceShips {
  animation: shipHover2 8s infinite alternate forwards;
  @include absoluteFrame;

}

@keyframes shipHover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}


//frame 03
#f3_13_flashes {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#f5_Untitled_Artwork_16 {
  position: absolute;
  transform: translate(0, 60%);
  transition: all 1s ease-out;
}
#f5_Untitled_Artwork_17 {
  position: absolute;
  object-fit: fill;
  transform: translate(0, 74%);
  transition: all 1s ease-out;
}

#f5_Untitled_Artwork_13 {
  animation: floatBaloons 18s infinite;
}

#f5_Untitled_Artwork_6 {
  animation: floatBaloons_2 15s infinite;
}

#f5_Untitled_Artwork_7 {
  animation: floatBaloons_1 9s infinite;
}

#f5_Untitled_Artwork_8 {
  animation: floatBaloons_2 30s infinite;
}

#f5_Untitled_Artwork_15 {
  animation: floatBaloons_1 20s infinite;
}

#f5_Untitled_Artwork_12 {
  animation: floatBaloons 25s infinite;
}

#f5_Untitled_Artwork_11 {
  animation: floatBaloons_2 25s infinite;
}

#f5_Untitled_Artwork_9 {
  animation: floatBaloons_2 15s infinite;
}




@keyframes floatBaloons {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(10px, -11px);
  }
  80% {
    transform: translate(-10px, 11px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatBaloons_1 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-10px, 11px);
  }
  80% {
    transform: translate(10px, -11px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatBaloons_2 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(12px, -11px);
  }
  80% {
    transform: translate(-10px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#frame-06 {
  transform: translate(0, 300px);
  transition: 1s ease;
}

#f6_Untitled_Artwork_4 {
  transform: translate(0, -55%);
  object-fit: fill;
  transition: 2.6s ease;
}

.f6-anim-fadeIn {
  transform: translate(0, 0) !important;
}

.v_player {
  background: #fcf;
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.f7_fa_dodge {
  mix-blend-mode: color-dodge;
  animation: pulse 2.5s infinite alternate ease;
}



.anim-fadeIn {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}