* {
  margin: 0;
  box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  // background: #3e3e3e;
  height: 4500px;
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;

}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: opacity 600ms linear;
  opacity: 1;
}

#frame-01 {
  z-index: 10;
}

#frame-02 {
  z-index: 9;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
}

#sc-val {
  position: fixed;
  z-index: 99999;
}


.hide {
  opacity: 0;
  // filter: blur(15px);
}


.navigation {
  position: fixed;
  z-index: 9000;
  padding: 10px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  ul {
    list-style: none;
  }
}


.text-layer {
  position: absolute;
  z-index: 9000;
  max-width: 400px;
  top: 100px;
  left: 100px;

  h2 {
    font-weight: 500;
    font-size: 5em;
    color: #3E374D;
  }

  p {
    font-size: 20px;
    color: #3E374D;
    line-height: 1.5;
    margin-top: 20px;
  }

}