@import url(_responsive.scss);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: cinzel_reguralr;
  src: url("../fonts/cinzel.regular.ttf");
}

@font-face {
  font-family: flanker;
  src: url("../fonts/Flanker-Griffo.otf");
}

@font-face {
  font-family: cinzel_bold;
  src: url("../fonts/cinzel.decorative-bold.ttf");
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  height: 10500px;
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
}

header {
  position: fixed;
  z-index: 999;
  padding: 20px 26px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .join-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .join-links img {
  height: 48px;
  cursor: pointer;
}

.ak-mobile {
  display: none !important;
}

.lg-hide {
  display: none !important;
}

.btn-menu {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  aspect-ratio: 1/1;
  width: 70px;
  cursor: pointer;
}

.btn-menu img {
  width: 100%;
}

.btn-menu:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn-menu img {
  width: 100%;
}

button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  scale: 0.98;
}

button img {
  width: 100%;
  position: relative !important;
}

.btn-img-md {
  background: transparent;
  border: none;
}

.btn-link {
  display: block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-link:hover {
  scale: 0.98;
}

.loading-view {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: #00000096;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.loading-view img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.1;
}

.loading-view p {
  color: #fff;
  z-index: 1;
  background: #00000042;
  padding: 30px;
  letter-spacing: 16px;
}

.nav-menu {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 14px 30px 14px 50px;
  background: #3e374de3;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 360px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu__top > img {
  position: relative;
  top: 10px;
}

.nav-menu__top .btn-menu-close {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  aspect-ratio: 1/1;
  width: 65px;
}

.nav-menu__top .btn-menu-close img {
  width: 100%;
}

.nav-menu__top .btn-menu-close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav-menu__sec {
  margin: 24px 0;
}

.nav-menu__sec h4 {
  font-size: 24px;
  color: #FF7476;
  font-family: flanker;
}

.nav-menu__sec ul {
  list-style: none;
  padding: 0;
  font-family: flanker;
}

.nav-menu__sec ul li a {
  position: relative;
  color: #dbcfe7;
  text-decoration: none;
  padding: 8px 0;
  display: block;
}

.nav-menu__sec ul li a::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("../images/menu-item-hover.svg");
  position: absolute;
  -webkit-transform: translate(-30px, 0);
          transform: translate(-30px, 0);
  opacity: 0;
}

.nav-menu__sec ul li a::after {
  position: absolute;
  left: -50px;
  bottom: 2px;
  content: '';
  width: 0%;
  height: 100%;
  opacity: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(-70.09%, rgba(217, 217, 217, 0)), color-stop(-70.07%, rgba(255, 255, 255, 0.0816)), color-stop(53.05%, rgba(255, 255, 255, 0.0816)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) -70.09%, rgba(255, 255, 255, 0.0816) -70.07%, rgba(255, 255, 255, 0.0816) 53.05%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.nav-menu__sec ul li a:hover {
  color: #fff;
}

.nav-menu__sec ul li a:hover::before {
  opacity: 1;
}

.nav-menu__sec ul li a:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-menu__sub-title {
  font-size: 24px;
  color: #FF7476;
  font-family: flanker;
}

.nav-menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}

.nav-menu__footer a {
  color: #A994CB;
  font-size: 12px;
  font-family: flanker;
  text-decoration: none;
}

.nav-menu.slide-in .menu-bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  background: #6e045f;
  background: -webkit-gradient(linear, left top, right top, from(#6e045f), to(rgba(208, 80, 80, 0)));
  background: linear-gradient(90deg, #6e045f 0%, rgba(208, 80, 80, 0) 100%);
  z-index: -1;
  top: 0;
  left: 360px;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.slide-in {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 26px 26px;
  z-index: 10;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
}

footer ul li img {
  height: 48px;
  cursor: pointer;
}

section {
  width: 100%;
  height: 100vh;
  position: fixed;
  -webkit-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
  opacity: 1;
}

.anim-ease-sc {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.text-layer h2 {
  font-family: cinzel_bold;
  font-size: 43px;
}

.text-layer p {
  font-family: flanker;
}

.text-layer-center h2 {
  font-family: cinzel_bold;
}

.text-layer-center p {
  font-family: flanker;
}

.f7_text_content {
  position: absolute;
  width: 600px;
  height: 600px;
  right: 130px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.f7_text_content .f7_bg_paper {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.f7_text_content .f7_paper_text {
  position: absolute;
  right: 25px;
  max-width: 335px;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #3E374D;
}

.f7_text_content .f7_paper_text h2 {
  font-family: cinzel_bold;
  font-size: 3em;
}

.f7_text_content .f7_paper_text p {
  font-family: flanker;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 20px;
  font-weight: 400;
}

.f7_text_content .f7_paper_text button {
  margin-top: 30px;
}

.f2-text-layer {
  background-image: url("../images/frame-01/");
}

.logo-ph {
  -webkit-transform: translate(0, 310px) scale(0.8);
          transform: translate(0, 310px) scale(0.8);
  opacity: 0;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
}

.logo-ph .logo-text {
  position: relative !important;
  max-width: 33%;
  margin: 0 auto;
  display: block;
}

#frame-01 {
  z-index: 10;
}

#frame-02 {
  z-index: 9;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#sc-val {
  position: fixed;
  z-index: 99999;
  bottom: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.text-layer {
  position: absolute;
  z-index: 9000;
  max-width: 700px;
  top: 100px;
  left: 100px;
}

.text-layer h2 {
  font-weight: 500;
  font-size: 43px;
}

.text-layer p {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 20px;
  font-weight: 400;
}

.text-layer-center {
  position: absolute;
  z-index: 9000;
  max-width: 800px;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

.text-layer-center h2 {
  font-weight: 500;
  font-size: 43px;
}

.text-layer-center p {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 20px;
  font-weight: 400;
}

.navigation {
  position: fixed;
  z-index: 9000;
  padding: 3px 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  opacity: 0.7;
}

.navigation .prg-bar {
  display: none;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 5px;
  width: 4px;
  border-radius: 20px;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.navigation .prg-bar::after {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #e837a7;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  list-style: none;
  padding: 0;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.navigation ul li a p {
  z-index: 0;
  position: absolute;
  top: -8px;
  right: -30px;
  width: 0px;
  opacity: 0;
  text-align: right;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-family: flanker;
  font-size: 18px;
  background: #fff;
  background: -webkit-gradient(linear, right top, left top, from(#d9d9d900), color-stop(1%, #ffffff96), color-stop(72.4%, #ffffff8c), to(#ffffff00));
  background: linear-gradient(270deg, #d9d9d900 0%, #ffffff96 1%, #ffffff8c 72.4%, #ffffff00 100%);
  padding: 10px 70px 10px 0;
}

.navigation ul li a span {
  background: #1d212b;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation ul li a span::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-6px, -6px);
          transform: translate(-6px, -6px);
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.navigation ul li a span:hover::after {
  opacity: 1;
}

.navigation ul li .li-ph {
  position: absolute;
  height: 40px;
  width: 100%;
  -webkit-transform: translate(50%, 75%);
          transform: translate(50%, 75%);
  left: -50%;
}

.navigation ul li .li-ph span {
  position: absolute;
  display: block;
  top: 0;
  width: 2px;
  left: 50%;
  background: #ffffff;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.navigation ul li:hover p {
  width: 250px !important;
  opacity: 1;
}

.navigation::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  right: 50%;
  -webkit-transform: translate(1px, 0);
          transform: translate(1px, 0);
  border-left: 1px dashed;
  border-color: #ffffff7a;
  opacity: 0;
}

.navigation::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-filter: blur(36px);
          filter: blur(36px);
  opacity: 0.5;
}

.sec-nav {
  opacity: 0;
  background: #6767674a;
  position: absolute;
  z-index: 100;
  color: #fff;
  padding: 0 5px;
}

.sec-nav > div {
  border-bottom: 1px solid;
  height: 100vh;
  border-bottom: 1px solid #fff;
}

.sec-nav > div .nav-f {
  border-bottom: 1px solid;
  height: 100vh;
}

.f1_spaceShip {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-animation: shipHover 2s infinite alternate forwards;
          animation: shipHover 2s infinite alternate forwards;
  left: -110px;
}

@-webkit-keyframes shipHover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes shipHover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.f1_twoSpaceShips {
  -webkit-animation: shipHover2 8s infinite alternate forwards;
          animation: shipHover2 8s infinite alternate forwards;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@-webkit-keyframes shipHover2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes shipHover2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

#f3_13_flashes {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
}

#f5_Untitled_Artwork_16 {
  position: absolute;
  -webkit-transform: translate(0, 60%);
          transform: translate(0, 60%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#f5_Untitled_Artwork_17 {
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transform: translate(0, 74%);
          transform: translate(0, 74%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#f5_Untitled_Artwork_13 {
  -webkit-animation: floatBaloons 18s infinite;
          animation: floatBaloons 18s infinite;
}

#f5_Untitled_Artwork_6 {
  -webkit-animation: floatBaloons_2 15s infinite;
          animation: floatBaloons_2 15s infinite;
}

#f5_Untitled_Artwork_7 {
  -webkit-animation: floatBaloons_1 9s infinite;
          animation: floatBaloons_1 9s infinite;
}

#f5_Untitled_Artwork_8 {
  -webkit-animation: floatBaloons_2 30s infinite;
          animation: floatBaloons_2 30s infinite;
}

#f5_Untitled_Artwork_15 {
  -webkit-animation: floatBaloons_1 20s infinite;
          animation: floatBaloons_1 20s infinite;
}

#f5_Untitled_Artwork_12 {
  -webkit-animation: floatBaloons 25s infinite;
          animation: floatBaloons 25s infinite;
}

#f5_Untitled_Artwork_11 {
  -webkit-animation: floatBaloons_2 25s infinite;
          animation: floatBaloons_2 25s infinite;
}

#f5_Untitled_Artwork_9 {
  -webkit-animation: floatBaloons_2 15s infinite;
          animation: floatBaloons_2 15s infinite;
}

@-webkit-keyframes floatBaloons {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(10px, -11px);
            transform: translate(10px, -11px);
  }
  80% {
    -webkit-transform: translate(-10px, 11px);
            transform: translate(-10px, 11px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes floatBaloons {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(10px, -11px);
            transform: translate(10px, -11px);
  }
  80% {
    -webkit-transform: translate(-10px, 11px);
            transform: translate(-10px, 11px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes floatBaloons_1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(-10px, 11px);
            transform: translate(-10px, 11px);
  }
  80% {
    -webkit-transform: translate(10px, -11px);
            transform: translate(10px, -11px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes floatBaloons_1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(-10px, 11px);
            transform: translate(-10px, 11px);
  }
  80% {
    -webkit-transform: translate(10px, -11px);
            transform: translate(10px, -11px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes floatBaloons_2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(12px, -11px);
            transform: translate(12px, -11px);
  }
  80% {
    -webkit-transform: translate(-10px, 8px);
            transform: translate(-10px, 8px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes floatBaloons_2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(12px, -11px);
            transform: translate(12px, -11px);
  }
  80% {
    -webkit-transform: translate(-10px, 8px);
            transform: translate(-10px, 8px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#frame-06 {
  -webkit-transform: translate(0, 300px);
          transform: translate(0, 300px);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#f6_Untitled_Artwork_4 {
  -webkit-transform: translate(0, -55%);
          transform: translate(0, -55%);
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: 2.6s ease;
  transition: 2.6s ease;
}

.f6-anim-fadeIn {
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

.v_player {
  background: #fcf;
}

.v_player video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.f7_fa_dodge {
  mix-blend-mode: hard-light;
  -webkit-animation: pulse 2.5s infinite alternate ease;
          animation: pulse 2.5s infinite alternate ease;
}

.anim-fadeIn {
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */