* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  // background: #3e3e3e;
  height: 10500px;
  // overflow: hidden;
  font-family: 'Roboto', sans-serif;
  background: rgb(229, 229, 229);

}

header {
  position: fixed;
  z-index: 9000;
  padding: 10px 20px;
}

section {
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: opacity 600ms linear;
  opacity: 1;
}

.anim-ease-sc {
  transition: all 1s ease;

}


.logo-ph {
  transform: translate(0, 310px) scale(0.8);
  opacity: 0;
  transition: all 2.5s;
  .logo-text {
    position: relative !important;
    max-width: 33%;
    margin: 0 auto;
    display: block;
  }
}


#frame-01 {
  z-index: 10;
}

#frame-02 {
  z-index: 9;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s linear;
}

#sc-val {
  position: fixed;
  z-index: 99999;
  bottom: 0;
}


.hide {
  opacity: 0;
  // filter: blur(15px);
}





.text-layer {
  position: absolute;
  z-index: 9000;
  max-width: 400px;
  top: 100px;
  left: 100px;

  h2 {
    font-weight: 500;
    font-size: 5em;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 400;
  }

}


.text-layer-center {
  position: absolute;
  z-index: 9000;
  max-width: 800px;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 5em;
  }

  p {
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 400;
  }
}

.navigation {
  position: fixed;
  z-index: 9000;
  height: 40%;
  padding: 3px 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  // background: #686868;
  overflow: hidden;
  .prg-bar {
    background: #d6d6d6;
    position: absolute;
    top: 0;
    right: 50%;
    width: 4px;
    border-radius: 20px;
    transform: translate(50%, 20px);
    &::after {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: rgb(232, 55, 167);
      position: absolute;
      bottom: 0;
      right: 8px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    padding: 0;
    height: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    li {
      a {
        list-style: none;
        text-decoration: none;
        padding: 10px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 7px;
        // border: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000;
        color: #fff;
        border: 2px solid;
        transform: rotate(45deg);
        span {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    right: 50%;
    transform: translate(1px, 0);
    border-left: 1px dashed;
    border-color: #e0e0e080;
  }
}

.sec-nav {
  opacity: 1;
  background: #0000004a;
  position: absolute;
  z-index: 100;
  color: #fff;
  padding: 0 5px;
  >div {
    border-bottom: 1px solid;
    height: 100vh;
    border-bottom: 1px solid #fff;
    .nav-f {
      border-bottom: 1px solid;
      height: 100vh;
    }
  }
}

//Animations


#f3_13_flashes {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

#f5_Untitled_Artwork_16 {
  position: absolute;
  transform: translate(0, 60%);
}
#f5_Untitled_Artwork_17 {
  position: absolute;
  transform: translate(0, 74%);

}

#f5_Untitled_Artwork_13 {
  animation: floatBaloons 18s infinite;
}

#f5_Untitled_Artwork_6 {
  animation: floatBaloons_2 15s infinite;
}

#f5_Untitled_Artwork_7 {
  animation: floatBaloons_1 9s infinite;
}

#f5_Untitled_Artwork_8 {
  animation: floatBaloons_2 30s infinite;
}

#f5_Untitled_Artwork_15 {
  animation: floatBaloons_1 20s infinite;
}

#f5_Untitled_Artwork_12 {
  animation: floatBaloons 25s infinite;
}

#f5_Untitled_Artwork_11 {
  animation: floatBaloons_2 25s infinite;
}

#f5_Untitled_Artwork_9 {
  animation: floatBaloons_2 15s infinite;
}






@keyframes floatBaloons {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(10px, -11px);
  }
  80% {
    transform: translate(-10px, 11px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatBaloons_1 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(-10px, 11px);
  }
  80% {
    transform: translate(10px, -11px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatBaloons_2 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(12px, -11px);
  }
  80% {
    transform: translate(-10px, 8px);
  }
  100% {
    transform: translate(0, 0);
  }
}


.anim-fadeIn {
  transform: translate(0, 0) scale(1);
  opacity: 1;
}