@media only screen and (max-width: 768px) {
  .ak-mobile {
    display: block !important;
    overflow: hidden;
  }
  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: block !important;
  }

  .ak-view {
    display: none;
  }
  .navigation {
    display: none;
  }

  header {
    padding: 12px 10px;
    >div {
      width: 100%;
      display: flex;
    }
    .join-links {
      display: none;
    }
  }

  .sm-frame {
    height: 100vh;
    width: 100%;
    position: relative;
    .sf-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .sm-frame-text {
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      h2 {
        font-family: cinzel_bold;
        font-size: 30px;
        margin-bottom: 16px;
      }
      p {
        font-family: flanker;
        font-size: 16px;
        max-width: 86%;
        margin: 0 auto;
        line-height: 2;
      }
    }

    .frame-end {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      height: auto;
      object-fit: cover;
      z-index: 20;
    }
    .fe--1 {
      bottom: -29px;
    }
    .fe--2 {
      bottom: -94px;
      object-fit: none;
      scale: 1.1;
    }
    .fe--3 {
      bottom: -50px;
    }
    .fe--4 {
      bottom: -17px;
    }
    .fe--5 {
      bottom: -125px;
    }
    &--01 {
      .logo-text-sm {
        position: absolute;
        max-width: 370px;
        z-index: 1;
        left: 50%;
        top: 100px;
        transform: translate(-50%, 0);
      }
      .sm-f1-space-ship {
        position: absolute;
        top: 33%;
        left: 0%;
      }
    }
    &--02 {
      .sft-02 {
        color: #4B3944;
        top: 18%;
      }
    }
    &--03,
    &--04 {
      .sft-03 {
        color: #ffffff;
        top: 17%;
      }
    }
    &--05 {
      .sf-img-05 {
        object-position: top;
      }
      .sft-05 {
        top: 4%;
        color: #ffffff;
      }
      .sft-05 {
        p {
          max-width: 87%;
        }
      }
    }
    &--06 {
      display: flex;
      align-items: baseline;
      background: #000;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .vp-view {
        position: absolute;
        z-index: 1;
        top: 30%;
        left: 50%;
        width: 75%;
        transform: translate(-50%, -50%);
        text-align: center;
        h4 {
          font-family: cinzel_bold;
          font-size: 50px;
          margin-bottom: 20px;
        }
        button {
          max-width: 300px;
          margin: 0 auto;
          background: transparent;
          border: none;
          img {
            width: 100%;
          }
        }
      }
    }

    &--07 {

      .sm-f7-bottom {
        position: absolute;
        bottom: -62px;
        width: 100%;
      }

    }


  }
  .mobile-footer {
    position: relative;
    height: 100vh;
    img {
      width: 100%;
      display: block;
    }
    .foot-top {
      position: absolute;
      top: -58px;
      z-index: 20;
    }
    .footer-opt {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      img {
        position: relative;
      }
    }
  }


  .sm-f1-space-ship {
    animation: shipHover 2s infinite alternate forwards;
    width: 48%;
  }

  @keyframes shipHover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  footer {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
    >ul {
      padding: 0;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      ul {
        padding: 0;
      }
      li {
        img {
          height: 37px;
        }
      }
    }
  }

  .foot-sm-fade-in {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0) !important;

  }
}


//mobile coaster guide

.f6_info_view {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: #cfcf;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}

.f6_if_box.d-none {
  transform: translateX(-100%);
  opacity: 0;
}
.f6_if_box {
  transform: translateX(0);
  opacity: 1;
  background: #fcd59de6;
  border: 1px solid #250f11;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.5s ease;
  h2 {
    font-family: cinzel_bold;
    color: #503f2e;
  }
  p {
    font-family: flanker;
  }
}

.mb_video_thumnail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}